[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"

[packages]
flask = "*"
python-dotenv = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
