[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
alembic = "*"

[packages]
flask = "*"
python-dotenv = "*"
pyyaml = "*"
flask-restful = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
